services:
  - type: web
    name: telegram-video-compressor
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    healthCheckPath: /health
    envVars:
      - fromGroup: telegram-credentials
