services:
  - type: web
    name: tg-video-compress
    env: docker
    plan: free
    autoDeploy: true
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python3 wsgi.py"
    healthCheckPath: /health
    healthCheckTimeout: 180
    envVars:
      - key: PORT
        value: 8080
