services:
  - type: worker
    name: telegram-video-compressor
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: APP_ID
        group: telegram-credentials
      - key: API_HASH
        group: telegram-credentials
      - key: BOT_TOKEN
        group: telegram-credentials
      - key: OWNER
        group: telegram-credentials
      - key: THUMBNAIL
        group: telegram-credentials
