services:
  - type: worker
    name: telegram-video-compressor
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - fromGroup: telegram-credentials
